.mainPane {
    -fx-background-color: #d7ebd1;
}

.userView {
    -fx-background-color: #edefec;
    -fx-border-color: #004e1b; -fx-border-width: 3px 3px 3px 3px;
}

.table-view.userList {
    -fx-background-color: #e6e6e1;
    -fx-border-color: #004e1b; -fx-border-width: 3px 3px 3px 3px;
    -fx-border-width: 3px 3px 3px 3px;
}


.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-background-color: #004e1b;
}
.table-view .column-header .label{
    -fx-text-fill: #edefec;
    -fx-font-weight: bold;
    -fx-alignment: CENTER_LEFT;
    -fx-background-color: #004e1b;

}
.button{
    -fx-color: #e6e6e1;
    -fx-effect: dropshadow(gaussian, #efdc52, 5, 0.5, 0.0, 0.0);
    -fx-text-fill: #004e1b;
}

.backPane{
    -fx-background-radius: 5px 5px 0 0;
    -fx-background-color: #004e1b;
    -fx-opacity: 0.7;
}

.label.edit{
    -fx-font-family: Arial;
    -fx-text-fill: #d7ebd1;
}
.label.edit.Header{
    -fx-text-fill: #ffff;
}

.text-field{
    -fx-effect: dropshadow(gaussian, #efdc52, 2, 0.5, 0.0, 0.0);
    -fx-background-color:  #d7ebd1;
    -fx-border-color: #ffff;
    -fx-border-radius: 2px;
}

.combo-box{
    -fx-fill: #d7ebd1;
    -fx-background-color:  #d7ebd1;
    -fx-border-color: #ffff;
    -fx-border-radius: 2px;
    -fx-effect: dropshadow(gaussian, #efdc52, 2, 0.5, 0.0, 0.0);
}