.MainPane{
    -fx-background-color: #96a496;
    -fx-border-color: #66a274; -fx-border-width: 3px 3px 3px 3px;
}



.separator.line{
    -fx-fill: #66a274;
    -fx-border-style: solid;
    -fx-border-color: #66a274;
    -fx-padding: -1 -5 -1 -1;
    -fx-background-position: center;
    -fx-background-color: #f2c31d;
}



.label{
    -fx-background-color: #f6f5f5;
    color: #d5d7d4;
    -fx-text-fill: #d5d7d4;
}

#submit{
    -fx-background-color: #66a274;
    -fx-border-color: #f2c31d; -fx-border-width: 1px 1px 1px 1px;
}

.text-field{
    -fx-background-color: #66a274;
    -fx-border-color: #f2c31d;
    -fx-text-fill: #f2c31d;
}

