

.MainPane{
    -fx-background-color: #ffff;
    -fx-background-image: url('../../userView/view/images/CowPattern.PNG');
    -fx-border-color: #f1e15a; -fx-border-width: 0px 3px 3px 3px;
}

.LogoPane{
    -fx-background-radius: 5px 5px 0 0;
    -fx-background-color: #5c5e5c;
    -fx-opacity: 0.8;
}



.label{
    -fx-fill: #f2c31d;
    -fx-font-family: Arial;

}

#submit{
    position: relative;
    -fx-color: #004e1b;
    -fx-border-color: #f2c31d; -fx-border-width: 1px 1px 1px 1px;
    -fx-effect: dropshadow(gaussian, #ebdb62, 10, 0.5, 0.0, 0.0);
}

.text-field{
    -fx-effect: dropshadow(gaussian, #ebdb62, 13, 0.5, 0.0, 0.0);
    -fx-background-color: #00aa14;
    -fx-border-color: #f2c31d;
    -fx-text-fill: #ffff;
}

